/*-- scss:defaults --*/

// Main Colors
$body-bg: #F2F2F2;       // Sayfa arka planı (Solarized Light kremi)
$body-color: #586e75;    // Ana yazı rengi
$primary: #268bd2;       // Links buttons and active menu  (Mavi)
$secondary: #93a1a1;     // seconadary writings

// NAVBAR Settings
$navbar-bg: #C4C4C4;     // Menu bar background color
$navbar-fg: #586e75;     // Menu 

// Titles
$headings-color: #1B9679; // H1, H2, H3 başlıklarının rengi (Sarı/Altın)

/*-- scss:rules --*/
